* {
    padding: 10px;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgray;
    color: black;
}

div {
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    background-color: whitesmoke;
}

h1 {
    text-align: center;
}

img {
    height: 300px;
    width: 400px;
}

.recipe h1 {
    color: purple;
}

a {
    text-decoration: none;
    color: black;
    font-size: larger;
}

a:hover {
    text-decoration: underline;
    color: blue;
}